#ifndef SECRETS_H
#define SECRETS_H

#define SECRET_MQTT_BROKER_URI "mqtts://your-cluster.s1.eu.hivemq.cloud:8883"
#define SECRET_MQTT_USER       "your_username"
#define SECRET_MQTT_PASS       "your_password"

// Если есть пароли от Wi-Fi (для теста)
#define SECRET_WIFI_SSID       "name"
#define SECRET_WIFI_PASS       "password"

// Telegram
#define TG_BOT_TOKEN       "token"
#define TG_CHEF_CHAT_ID    "ID_chef"
#define TG_DEV_CHAT_ID     "id developer"

#endif // SECRETS_H
